{% extends 'base.html' %}
{% block content %}
<!-- Header-->
<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">About Us ...</h1>
            <p class="lead fw-normal text-white-50 mb-0">Welcome to CodeMy Ecommerce ...</p>
        </div>
    </div>
</header>
<!--Section-->
<!-- Section-->
<section class="py-5">
    <div class="container px-4 px-lg-5 mt-5">
        <p align="justify">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras dapibus sed odio eu aliquam. Proin ultricies sodales felis nec consequat. Cras semper leo enim. Vivamus orci felis, ultrices in pulvinar vitae, malesuada ac diam. Pellentesque vel neque interdum, commodo urna eget, porta arcu. Sed quis finibus nisl. Quisque eu nisl mi. Duis pretium augue ut lacus congue, non mattis orci bibendum. Curabitur in nibh ac nisl consectetur consectetur vitae ultrices est. In vestibulum lacus et facilisis bibendum. Suspendisse in justo arcu. Sed quis porta leo, hendrerit lobortis elit. Proin vel sollicitudin arcu. Donec nec elit nisi. Aenean tristique, tortor at tempor aliquet, dui elit iaculis nulla, ac egestas purus ante quis felis. Phasellus id eros at nisl dictum interdum.
        </p>
        <p align="justify">
In hac habitasse platea dictumst. Aliquam commodo ipsum tellus, sed finibus leo molestie vel. In elementum ut odio vitae mollis. Ut sodales dolor sit amet convallis convallis. Duis ultrices porttitor vehicula. Etiam tristique mollis ex a iaculis. Sed congue dolor nunc, ac mollis nunc pharetra luctus. Phasellus facilisis ipsum metus, non gravida erat luctus eget. Nunc velit leo, semper vitae scelerisque id, feugiat eget arcu. Curabitur rutrum metus metus, vulputate pulvinar justo interdum in. Phasellus vel malesuada purus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque tempor arcu vitae risus maximus, interdum maximus sem ornare.
        </p>
        <p align="justify">
Morbi imperdiet ex vitae enim volutpat, quis convallis est dapibus. Mauris bibendum suscipit ultrices. Ut hendrerit eget ante ac ullamcorper. Maecenas nisl urna, tempus sed odio id, gravida malesuada ex. Sed sagittis tortor velit, sed dictum diam dapibus ac. Nunc consequat pellentesque sem, id posuere felis vulputate ac. Sed egestas dapibus ante quis imperdiet. Quisque interdum turpis finibus est hendrerit, at interdum enim iaculis. Maecenas eget lobortis nibh, a molestie justo. Proin vel viverra elit, in commodo mauris. Phasellus aliquam pellentesque risus, sit amet condimentum tortor lobortis eu. Integer tristique maximus eleifend.
        </p>
    </div>
</section>
    {% endblock %}