{% extends 'base.html' %}
{% block content %}
<!-- Header-->
<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">Category ...</h1>
            <p class="lead fw-normal text-white-50 mb-0">Choose from Categories ...</p>
        </div>
    </div>
</header>
<!--Section-->
<!-- Section-->
<section class="py-5">
    <div class="container px-4 px-lg-5 mt-5 text-center">
        <p align="justify">
            {% for category in categories %}
                <h3><a href="{% url 'store:category' category %}">{{ category }}</a></h3>
            {% endfor %}
        </p>
    </div>
</section>
    {% endblock %}