{% extends 'base.html' %}
{% block content %}
<!-- Header-->
<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">Seach Products ...</h1>
            <p class="lead fw-normal text-white-50 mb-0">Find What You are Looking for ...</p>
        </div>
    </div>
</header>
<!--Section-->
<!-- Section-->
<section class="py-5">
    <div class="container px-4 px-lg-5 mt-5">
        <div class="card">
            <div class="card-header">
                Search Products
            </div>
            <div class="card-body">
                <form method="POST" action="{% url 'store:search' %}">
                    {% csrf_token %}
                    <div class="mb-3">
                        <input type="text" class="form-control" name="searched" placeholder="Item to Search">
                    </div>
                    <div class="mb-3 d-flex justify-content-end">
                        <button type="submit" class="btn btn-secondary">Search Products</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
<section class="py-5">
    <!--No need of testing product as the include test by itself-->
    {% include 'product_list.html' %}
</section>
{% endblock %}