{% extends 'base.html' %}
{% block content %}
<!-- Header-->
<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">Update Info ...</h1>
            <p class="lead fw-normal text-white-50 mb-0">Updating User Info ...</p>
        </div>
    </div>
</header>
<!--Section-->
<!-- Section-->
<section class="py-5">
    <div class="container px-4 px-lg-5 mt-5 col-md-6">
        <!--Begin: Login Form-->
        <form method="POST" action="{% url 'store:update_info' %}">
            {% csrf_token %}
            <strong>Billing Information</strong>
            {{ form.as_p }}
            <br/><br/>
            <strong>Shipping Information</strong>
            {{ shipping_form.as_p }}
            <br/><br/>
            <button type="submit" class="btn btn-secondary">Update Profile</button>
        </form>
        <!--End: Login Form-->
    </div>
</section>
    {% endblock %}